.loans-page-container {
	padding: 100px 30px;

	.loan-page-header-div {
		text-align: left;
	}

	// .loans-wrapper {
	// 	display: flex;
	// 	flex-direction: row;
	// 	justify-content: space-between;
	// 	flex-wrap: wrap;
	// }

	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		justify-items: center;
		/* background-color: #2196F3; */
		padding: 10px;
	}
	.grid-item {
		/* background-color: rgba(255, 255, 255, 0.8); */
		/* border: 1px solid rgba(0, 0, 0, 0.8); */
		padding: 20px;
		font-size: 30px;
		text-align: center;
	}
}
